
.entry-title {
  font-size: 2.6875em;
  font-family: roboto,sans-serif;
    font-weight: 300;
    line-height: 1.4;
    text-align: center;
}

.description .description-image {
  filter: grayscale(1);
  width: 200px;
  height: 200px;
  border-radius: 25%;
}

.description .description-image:hover {
  filter: none;
}

.about-me {
  width: 37vw;
  margin-left: 1em;
  
}